# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [1]:
import pandas as pd
import numpy as np

From a list

In [2]:
pd.DataFrame([1,2,3])

   0
0  1
1  2
2  3

From a numpy array

In [4]:
np.array([[1,2,3],[4,5,6]])

array([[1, 2, 3],
       [4, 5, 6]])

In [5]:
df = pd.DataFrame(np.array([[1,2,3],[4,5,6]]))

In [6]:
df

   0  1  2
0  1  2  3
1  4  5  6

From a dictionary

In [7]:
pd.DataFrame({"A" : [1,2,3], "B": [4,5,6]})

   A  B
0  1  4
1  2  5
2  3  6

In [3]:
from numpy.random import randn
np.random.seed(101)

In [4]:
df = pd.DataFrame(randn(5,4),["A","B","C","D","E"],["W","X","Y","Z"])

In [5]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [34]:
df["X"]

A   -0.494095
B    0.221491
C   -0.538235
D   -0.905100
E   -0.866885
Name: X, dtype: float64

In [32]:
# Pass a list of column names
df[["X","Y"]]

          X         Y
A -0.494095 -0.162535
B  0.221491 -0.855196
C -0.538235 -0.568581
D -0.905100 -0.391157
E -0.866885  0.720788

In [6]:
# SQL Syntax (NOT RECOMMENDED!)
df.X

A    0.628133
B   -0.319318
C    0.740122
D   -0.758872
E    1.978757
Name: X, dtype: float64

DataFrame Columns are just Series

In [37]:
type(df["X"])

pandas.core.series.Series

**Creating a new column:**

In [38]:
df["New Column"] = df["X"] + df["Y"]

In [39]:
df

          W         X         Y         Z  New Column
A -1.467514 -0.494095 -0.162535  0.485809   -0.656630
B  0.392489  0.221491 -0.855196  1.541990   -0.633705
C  0.666319 -0.538235 -0.568581  1.407338   -1.106816
D  0.641806 -0.905100 -0.391157  1.028293   -1.296257
E -1.972605 -0.866885  0.720788 -1.223082   -0.146097

** Removing Columns**

In [43]:
df.drop("X",axis=1,inplace=True)

In [44]:
# Not inplace unless specified!
df

          W         Y         Z  New Column
A -1.467514 -0.162535  0.485809   -0.656630
B  0.392489 -0.855196  1.541990   -0.633705
C  0.666319 -0.568581  1.407338   -1.106816
D  0.641806 -0.391157  1.028293   -1.296257
E -1.972605  0.720788 -1.223082   -0.146097

Can also drop rows this way:

In [46]:
df.drop("A")

          W         Y         Z  New Column
B  0.392489 -0.855196  1.541990   -0.633705
C  0.666319 -0.568581  1.407338   -1.106816
D  0.641806 -0.391157  1.028293   -1.296257
E -1.972605  0.720788 -1.223082   -0.146097

** Selecting Rows**

In [47]:
df.loc["B"]

W             0.392489
Y            -0.855196
Z             1.541990
New Column   -0.633705
Name: B, dtype: float64

Or select based off of position instead of label

In [48]:
df.iloc[1]

W             0.392489
Y            -0.855196
Z             1.541990
New Column   -0.633705
Name: B, dtype: float64

** Selecting subset of rows and columns **

In [54]:
df.loc[["A"],["W"]]

          W
A -1.467514

#### Important (keynote)

In [57]:
df.iloc[1:4,0:2]

          W         Y
B  0.392489 -0.855196
C  0.666319 -0.568581
D  0.641806 -0.391157

this syntax is recommended

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [58]:
df

          W         Y         Z  New Column
A -1.467514 -0.162535  0.485809   -0.656630
B  0.392489 -0.855196  1.541990   -0.633705
C  0.666319 -0.568581  1.407338   -1.106816
D  0.641806 -0.391157  1.028293   -1.296257
E -1.972605  0.720788 -1.223082   -0.146097

In [59]:
df > 1

       W      Y      Z  New Column
A  False  False  False       False
B  False  False   True       False
C  False  False   True       False
D  False  False   True       False
E  False  False  False       False

In [60]:
bool = df > 1

In [61]:
df[bool]

    W   Y         Z  New Column
A NaN NaN       NaN         NaN
B NaN NaN  1.541990         NaN
C NaN NaN  1.407338         NaN
D NaN NaN  1.028293         NaN
E NaN NaN       NaN         NaN

In [67]:
df [df["Z"] > 1]

          W         Y         Z  New Column
B  0.392489 -0.855196  1.541990   -0.633705
C  0.666319 -0.568581  1.407338   -1.106816
D  0.641806 -0.391157  1.028293   -1.296257

In [63]:
df

          W         Y         Z  New Column
A -1.467514 -0.162535  0.485809   -0.656630
B  0.392489 -0.855196  1.541990   -0.633705
C  0.666319 -0.568581  1.407338   -1.106816
D  0.641806 -0.391157  1.028293   -1.296257
E -1.972605  0.720788 -1.223082   -0.146097

For two conditions you can use | and & with parenthesis:

In [70]:
df [(df["W"] < 0) | (df["Z"] > 1)]

          W         Y         Z  New Column
A -1.467514 -0.162535  0.485809   -0.656630
B  0.392489 -0.855196  1.541990   -0.633705
C  0.666319 -0.568581  1.407338   -1.106816
D  0.641806 -0.391157  1.028293   -1.296257
E -1.972605  0.720788 -1.223082   -0.146097

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [71]:
df

          W         Y         Z  New Column
A -1.467514 -0.162535  0.485809   -0.656630
B  0.392489 -0.855196  1.541990   -0.633705
C  0.666319 -0.568581  1.407338   -1.106816
D  0.641806 -0.391157  1.028293   -1.296257
E -1.972605  0.720788 -1.223082   -0.146097

In [74]:
# Reset to default 0,1...n index
df.reset_index(inplace=True)

In [76]:
newind = 'CA NY WY OR CO'.split()

In [77]:
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [83]:
df.drop("index",axis=1,inplace=True)

In [84]:
df

          W         Y         Z  New Column
0 -1.467514 -0.162535  0.485809   -0.656630
1  0.392489 -0.855196  1.541990   -0.633705
2  0.666319 -0.568581  1.407338   -1.106816
3  0.641806 -0.391157  1.028293   -1.296257
4 -1.972605  0.720788 -1.223082   -0.146097

In [85]:
df.set_index("New Column",inplace=True)

In [86]:
df

                   W         Y         Z
New Column
-0.656630  -1.467514 -0.162535  0.485809
-0.633705   0.392489 -0.855196  1.541990
-1.106816   0.666319 -0.568581  1.407338
-1.296257   0.641806 -0.391157  1.028293
-0.146097  -1.972605  0.720788 -1.223082

## Multi-Index and Index Hierarchy (Optional)

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [253]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [254]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [257]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  0.153661  0.167638
   2 -0.765930  0.962299
   3  0.902826 -0.537909
G2 1 -1.549671  0.435253
   2  1.259904 -0.447898
   3  0.266207  0.412580

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [260]:
df.loc['G1']

          A         B
1  0.153661  0.167638
2 -0.765930  0.962299
3  0.902826 -0.537909

In [263]:
df.loc['G1'].loc[1]

A    0.153661
B    0.167638
Name: 1, dtype: float64

In [265]:
df.index.names

FrozenList([None, None])

In [266]:
df.index.names = ['Group','Num']

In [267]:
df

                  A         B
Group Num
G1    1    0.153661  0.167638
      2   -0.765930  0.962299
      3    0.902826 -0.537909
G2    1   -1.549671  0.435253
      2    1.259904 -0.447898
      3    0.266207  0.412580

In [270]:
df.xs('G1')

            A         B
Num
1    0.153661  0.167638
2   -0.765930  0.962299
3    0.902826 -0.537909

In [271]:
df.xs(['G1',1])

A    0.153661
B    0.167638
Name: (G1, 1), dtype: float64

In [273]:
df.xs(1,level='Num')

              A         B
Group
G1     0.153661  0.167638
G2    -1.549671  0.435253